<div class="navigation">
    <div class="logo">
        <a href=""><img src="assets/images/logo.PNG" alt="logo">
            <div class="title">
                <h1>VILLAGERS</h1>
                <p>Connect with friends, neighbors around you in village</p>
            </div> 
        </a>
    </div>
    <div class="user">
        <a href=""><img src="assets/images/user.png" alt="User" class="profile"></a>
        <h2>Roronoa, Zoro</h2>
        <a href=""><img src="assets/images/exit.png" alt="Log Out" class="logOut"></a>
    </div>
</div>
